h1 {
    background-color: #565d47;
    padding: 50px;
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 0;
}

body{
    text-align: center;
    background-color: #b49c73;  
}
footer{
    margin-top: 100px;
}